body {
	background-color: black;
}

.header {
	margin-left:16px;
	margin-right: 16px;
	border-left-width: 6px;
	border-right-width: 6px;
	border-color: white;
	border-style: solid;
	border-top: none;
	border-bottom: none;
}

.header .button {
	color: white;
	background-color: black;
	margin-bottom: 0;

}
.button.small-9.top {
	background-color: red;
}
